<style>.popover { height:240px; width: 180px; }</style>

<ion-popover-view>    
    <button class="button button-full button-positive" ng-click="onButtonClick('search')">
        <i class="icon ion-ios7-search-strong"> Search Budi(s) </i>
    </button>
    <button class="button button-full button-positive" ng-click="onButtonClick('delete')">
        <i class="icon ion-trash-b"> &nbsp Delete Budi(s) </i>
    </button>   
    <button class="button button-full button-positive" ng-click="onButtonClick('report')">
        <i class="icon ion-flag"> Report Budi(s) </i>
    </button>
    <button class="button button-full button-positive" ng-click="onButtonClick('block')">
        <i class="icon ion-locked"> &nbsp Block Budi(s) </i>
    </button>
</ion-popover-view>