<style>.popover { height:240px; width: 180px; }</style>

<ion-popover-view>    
    <button class="button button-full button-positive" ng-click="onButtonClick('search')">
        <i class="icon ion-android-search"> Search Budi(s) </i>
    </button>
    <button class="button button-full button-positive" ng-click="onButtonClick('delete')">
        <i class="icon ion-minus-circled"> Delete Budi(s) </i>
    </button>   
    <button class="button button-full button-positive" ng-click="onButtonClick('report')">
        <i class="icon ion-flag"> Report Budi(s) </i>
    </button>
    <button class="button button-full button-positive" ng-click="onButtonClick('block')">
        <i class="icon ion-locked"> Block Budi(s) </i>
    </button>
</ion-popover-view>