<style>.popover { height:190px; width: 150px; }</style>

<ion-popover-view>
    <ion-content>
        <ion-list>
            <button class="button button-full button-positive" ng-click="popover.hide($event)">
                <i class="icon ion-android-add-contact"></i>    Add Budi
            </button>
            <button class="button button-full button-positive" ng-click="endMeet(); popover.hide($event)">
                <i class="icon ion-log-out"></i>    Leave
            </button>
            <button class="button button-full button-positive" ng-click="popover.hide($event)">
                <i class="icon ion-close-circled"></i>    Report
            </button>
        </ion-list>
    </ion-content>
</ion-popover-view>