.center-page {
  /*display: flex;*/
  position: relative;
}

.login-button {
	position: absolute;
	width: 100%;
	height: 10%;
	top: 45%;
}

.center-text {
	text-align: center;
}

.center-text * {
	vertical-align: middle;
}

.logo {
	position: relative;
	text-align: center;
	top: 20%;
	font-family: "Arial";
}

.budi-bubble 
{
	position: relative;
	max-width: 100%;
	min-height: 52px;
	height: auto;
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
	background: #00B3FF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-left: 5px;
	
}

.budi-bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 13px 6px 0;
	border-color: transparent #00B3FF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -6px;
	left: -13px;
	top: 20px;
}

.my-bubble 
{
	position: relative;
	width: 100%;
	min-height: 52px;
	height: auto;
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
	background: #FFD964;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-right: 5px;
	text-align: right;
}

.my-bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 0 6px 13px;
	border-color: transparent #FFD964;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -6px;
	right: -13px;
	top: 20px;
}

.chat-background {
	background-color: #2A2A2A;
}

.item-chat {
	background-color: transparent;
	border-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Arial";
	height: auto;
}

.item-chat * {
	
}

.chat-picture {
	max-width: 200px;
	height: auto;
}

.camera-page {
	top: 15%;
}

.camera-temp-view {
	text-align: center;
}

.camera-temp {
	width: 60%;
	height: auto;
	opacity: 0.6;
}

.camera-back {
	position: absolute;
	top: 0%;
	right: 0px;
}

.camera-button {

}

.gallery-button {

}

.picture-display {
	max-width: 90%;
	height: auto;
}

.picButtons{
    position: static;
    text-align: center;
    display: inline-table;
    table-layout: auto;
    width: 100%;
}

.picButtons * {
    display: table-cell;
    width: 48%;
    text-align: center;
}

.picButtons #picBleft {
    margin-right: 0.5%;
}

.picButtons #picBright {
    margin-left: 0.5%;
}

.chat-input {
	position: absolute;
	width: 100%;
	bottom: 50px;
}

.custom-icon {
    font-size: 64px;
    color : #2b57ff;
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.menu-header{
	vertical-align: text-bottom
	color: #f63134;
}

.logout-icon-button {
	padding-left:0.5em;
}

.menu-user-info {
	padding-top: 5%;
	color: white;	
}

.menu-bar {

}

.button-mid {
	margin-top: 45%;
	width: 50%;
}

.button-mid i {
	padding-left: 0.1em;
	vertical-align: middle;
}

.img-bkg-chat {
	position: absolute;
	top:55%;
	left: 0;
	right: 0;
	color: white;
}

.msg-text {
	color: #000 !important;
	font-family: "Verdana" !important;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 3px;
}

.initial-background{

	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
	height:100%

}