<ion-view title="Login">
    <ion-content has-bouncing="false" scroll="false">
        <div class="logo">
            <br> <br> <br>
            <img ng-src="/img/logo.png" height="200" width="200">
        </div>
        <div class="center-text login-button">
            <button title="Login" class="button button-outline button-positive" ng-click="fbLogin()">
                <i class="fa fa-facebook-square fa-2x"></i> 
                    Login with Facebook
            </button>
        </div>
    </ion-content>
</ion-view>
