<ion-view title="Register">
    <div class="bar bar-header bar-dark">
        <a class="button button-icon icon ion-ios7-arrow-back" href="#/auth/login">{{'_.Back' | i18n}}</a>
        <h1 class="title">{{'auth.register.main title' | i18n}}</h1>
    </div>
    <ion-content class="has-header" >
        <form ng-submit="doRegister()">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'form.name' | i18n}}</span>
                    <input type="text" ng-model="regData.name" placeholder="{{'form.name' | i18n}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'form.email.tag' | i18n}}</span>
                    <input type="email" ng-model="regData.email" placeholder="{{'form.email.placeholder' | i18n}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'form.password.tag' | i18n}}</span>
                    <input type="password" ng-model="regData.password" placeholder="{{'form.password.placeholder' | i18n}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'form.password_confirm.tag' | i18n}}</span>
                    <input type="password" ng-model="regData.passwordCheck" placeholder="{{'form.password_confirm.placeholder' | i18n}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'form.zip-code.tag' | i18n}}</span>
                    <input type="text" ng-model="regData.zipCode" placeholder="{{'form.zip-code.placeholder' | i18n}}">
                </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      {{'form.country.tag'|i18n}}
                    </div>
                    <select ng-options="country.code as country.name for country in countries" ng-model="regData.countryCode">
                    </select>
                  </label>
            </div>
            <div class="padding">
            	<button class="button button-block button-calm" type="submit">
                    <div ng-show="loadingShow">   
                        <i class="icon ion-loading-c"></i>
                        {{'loading.message.register' | i18n}}
                    </div>
                    <div ng-hide="loadingShow">
                        {{'auth.register.register action' | i18n}}
                    </div>
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>