<ion-modal-view>
	<ion-header-bar class="bar bar-positive">
		<button class="button button-icon button-clear icon ion-arrow-left-c" ng-click="closeBudiProfile()">
    	</button>
    	<h1 class="title" > {{ selectedBudi.name }}'s Profile </h1>
    </ion-header-bar>     

	<ion-content>      
		<ion-item class="item item-thumbnail-left">
			<img ng-src="{{ selectedBudi.picture }}">
            <p></p>
            <h2> {{ selectedBudi.name }} </h2>
            <p></p>
            <p ng-show="budi.location" style="text-transform: capitalize"> 
                {{ budi.location.name }}
            </p>
		</ion-item>
        
        <ion-item>
            <i ng-hide="selectedBudi.gender.length" class="icon ion-transgender"> Gender </i>
			<i ng-show="selectedBudi.gender === 'female'" class="icon ion-female"> Gender </i>
            <i ng-show="selectedBudi.gender === 'male'" class="icon ion-male"> Gender </i>
            <p></p>
			<p style="text-transform: capitalize"> 
                &nbsp&nbsp&nbsp {{ selectedBudi.gender }} 
            </p>
		</ion-item>

        <ion-item ng-show="selectedBudi.birthday.length">
			<i class="icon ion-calendar"> Age </i>
            <p></p>
			<p> &nbsp&nbsp&nbsp {{ age }} </p>
		</ion-item>
 
		<ion-item ng-show="selectedBudi.link" ng-click="openBrowser('{{selectedBudi.link}}')">
			&nbsp<i class="icon ion-social-facebook"> Facebook </i>
            <p></p>
			<p > &nbsp&nbsp&nbsp View facebook profile </p>
		</ion-item>

	</ion-content>
</ion-modal-view>