<ion-view title="Budi Profile">
	<ion-nav-bar class="bar-positive" animation="no-animation">
		<ion-nav-back-button title="Back" class="button-icon ion-arrow-left-c"> </ion-nav-back-button>
	</ion-nav-bar>     

	<ion-content>
		<ion-list>
	        <ion-item class="item item-thumbnail-left">
			<img src="/img/avatar2.jpg">
			<!-- Falta ir buscar valores reais e foto do utilizador -->
			<h2>     Nome do Budi</h2>
			<p>  Cidade</p>

		</ion-item>

		<ion-item>
			<i class="icon ion-email"></i>
			<p> &nbsp &nbsp &nbsp Utilizador@gmail.com</p>
		</ion-item>

		<ion-item>
			<i class="icon ion-social-facebook"></i>
			<p> &nbsp &nbsp &nbsp www.facebook.com/utilizador </p>
		</ion-item>

		<ion-item>
			<i class="icon ion-social-twitter"></i>
			<p> &nbsp &nbsp &nbsp twitter.com/utilizador</p>
		</ion-item>

		<ion-item>
			<i class="icon ion-social-skype"></i>
			<p> &nbsp &nbsp &nbsp Utilizador util</p>
		</ion-item>
	    </ion-list>
	</ion-content>
</ion-view>