<ion-view title="Budi List">
    <ion-nav-bar class="bar-positive" animation="no-animation">
        <ion-nav-buttons side ="left">
            <button title="Menu" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side ="right">
            <button title="More" class="button button-icon icon ion-more" 
                    ng-click="openPopover($event); onButtonClick('more');"></button>
        </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar ng-show="data.showInput" class="bar-light bar-subheader">
        <input type="search" placeholder=" Filter Budi(s)..." ng-model="search" ng-focus="searchFocused = true"
            ng-blur="searchFocused = false" ng-change="scrollTop()">      
    </ion-header-bar>  
    <ion-content>     
        <ion-item ng-if="(search.length && !data.showInput) || !data.showInput">
	        <p></p>
            <p></p>
	    </ion-item>
        <button title="Clear Search" ng-if="search.length" class="button button-icon ion-android-close"
            ng-click="onButtonClick('search_clear')"> Clear Search: {{getSearch()}}
        </button>   
        <ion-item ng-show="isSearchResultsEmpty()">
	        <h2> {{ isSearchResultsEmpty() }} </h2>
	    </ion-item>
        <ion-list show-delete="data.showDelete" ng-repeat="budi in searchResults()" >
          <!-- trocar URL para profile do budi seleccionado -->
            <ion-item ng-if="!budi.isLetter" ng-href="#/app/budis/profile" class="item item-thumbnail-left">     
                <img ng-src="{{ budi.picture }}">
                <p></p>
                <h2>{{ budi.first_name + ' ' + budi.last_name }}</h2>
                <p></p>
                <h3>{{ budi.location }}</h3>
                <ion-delete-button class="ion-minus-circled" ng-click="onBudiDelete(budi)"> </ion-delete-button>
            </ion-item>           
            <ion-item ng-if="budi.isLetter" class="item item-divider">
                {{ budi.letter }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>