<ion-view title="Budi List">
    <ion-nav-bar class="bar-positive" animation="no-animation">
        <ion-nav-buttons side="left">
            <button title="Menu" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button title="More" class="button button-icon icon ion-ios7-more" 
                    ng-click="openPopover($event); onButtonClick('more');"></button>
        </ion-nav-buttons> 
    </ion-nav-bar>   
    <ion-header-bar ng-show="data.showInput || data.search.length" class="bar-subheader bar-positive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder=" Search Budi(s)..." ng-model="data.search" ng-change="scrollTop()">
        </label>
        <button title="Clear Search" class="button button-clear" ng-click="onButtonClick('cancel')">
            Cancel
        </button>      
    </ion-header-bar>
    <ion-content>     
        <ion-item ng-if="!data.search.length && !data.showInput">
	        <p></p>
            <p></p>
	    </ion-item>
        <ion-item ng-show="isSearchResultsEmpty()">
	        <h2> {{ isSearchResultsEmpty() }} </h2>
	    </ion-item>
        <ion-list show-delete="data.showDelete || data.showReport || data.showBlock" ng-repeat="budi in searchResults()" >
          <!-- trocar URL para profile do budi seleccionado -->
            <ion-item ng-if="!budi.isLetter" ng-click="seeBudiProfile(budi.id)" class="item item-thumbnail-left item-icon-right">    
                <img ng-src="{{ budi.picture }}">
                <i title="View Profile" class="icon icon-right ion-ios7-arrow-forward"></i>
                <p></p>
                <h2>
                    <i title="Blocked" ng-show="budi.blocked" class="icon-left ion-locked"></i> 
                    {{ budi.first_name + ' ' + budi.last_name }} 
                </h2>
                <p></p>
                <p ng-show="budi.location.length"> {{ budi.location }} </p>
                <p ng-show="!budi.location.length"> Unknown </p> 
                <ion-delete-button ng-hide="data.showSearch === false" title="{{ buttonName(budi) }}" 
                    class="ion-minus-circled" ng-click="showConfirm(budi)"> 
                </ion-delete-button>
            </ion-item>           
            <ion-item ng-if="budi.isLetter" class="item item-divider">
                {{ budi.letter }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>