<ion-modal-view style="height: 50%; width: 50%; left: 25%; right: 25%;">
    <ion-header-bar class="bar bar-positive">
        <h1 class="title" style="text-transform: capitalize"> 
            Edit {{ edit }} Info 
        </h1>
        <button class="button button-clear button-primary" ng-click="clearInfo()">
            Cancel
        </button>
    </ion-header-bar>   
    <ion-content class="padding" scroll="false">
        <p></p>
        <div class="item-input-inset">
            <label class="item item-input-wrapper">
                <span class="input-label" style="text-transform: capitalize"> 
                    &nbsp {{ edit }}:
                </span>
                <input type="text" placeholder="         Enter New Info..." ng-model="modal.info">
            </label>
        </div>    
        <div class="item-input-inset">
            <button class="button button-block button-positive" ng-click="saveUserInfo()"> 
                Save Info 
            </button>
        </div>
    </ion-content>
</ion-modal-view>