<div ng-show="meet.active && meet.gotBudi">

    <div class="bar bar-header bar-positive">
        <button title="Menu" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 ng-show="meet.gotFriend" class="title">{{budiInfo.name}}</h1>
        <h1 ng-hide="meet.gotFriend" class="title">Chatting with a budi</h1>
        <div class="buttons">
            <button class="button button-icon ion-ios7-more" ng-click="popover.show($event)">
            </button>
        </div>
    </div>
    <ion-content class="has-header chat-background">
        <div ng-repeat="msg in messages" class="item item-chat item-chat-{{msg.side}}">
            <div class="{{msg.owner}}-bubble">
                <img class="chat-picture" ng-show="{{msg.type === 'image'}}" ng-src="{{msg.image}}">
                <p class="msg-text" ng-hide="{{msg.type === 'image'}}">
                    {{msg.message}}
                </p>
            </div>
        </div>
    </ion-content>
    <div ng-show="inputVisible" class="item item-input-inset chat-input">
        <label class="item-input-wrapper">
            <input type="text" ng-model="sendForm.message" placeholder="Message">
        </label>
        <button title="Send Message" class="button button-small button-calm" ng-click="sendMsg()">
            Send
        </button>
    </div>
    <div class="tabs-striped tabs-background-dark tabs-color-calm">
        <div class="tabs">
            <div ng-hide="locked()" title="Send Photo" class="tab-item" ng-click="showPicturePage()">
                <i class="icon ion-camera"></i>
            </div>
            <div ng-show="locked()" title="Send Photo" class="tab-item">
                <i class="icon ion-camera"></i>
                <i  class="fa fa-lg fa-lock"></i>
            </div>
            <div title="Send Message"  class="tab-item" ng-click="toggleInput()">
                <i class="icon ion-ios7-email"></i>
            </div>
        </div>
    </div>
</div>


<div ng-hide="meet.active">
    <div class="bar bar-header bar-positive">
        <button title="More" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title"> Budi </h1>
    </div>
    <ion-content class="has-header chat-background">
    <p align="center">
        <button ng-hide="meetAnimation" class="button button-calm button-mid" ng-click="findBudi()">
            Make a new budi!
            <i class="fa fa-weixin fa-2x"></i>
        </button>
        <button ng-show="meetAnimation" class="button button-outline button-light button-mid" disabled="">
            Finding a budi
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </button>
    </p>
    </ion-content>


</div>

<div ng-show="!meet.gotBudi && meet.active">
    <div class="bar bar-header bar-positive">
        <button title="More" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title"> budi on the hunt </h1>
    </div>
    <ion-content class="has-header chat-background">
    <p align="center">
        <i class="fa fa-weixin fa-4x img-bkg-chat"></i>
        <button class="button button-clear button-light button-mid" disabled="">
            Queued! Waiting for a budi... 
            <i class="fa fa-refresh fa-spin"></i>
        </button>
    </ion-content>
</div>
