<ion-view title="Picture">
    	<button class="button button-clear button-dark icon-right fa fa-chevron-left" ng-click="modal.hide()">
    	</button>
	<ion-content class="camera-page" has-bouncing="false" scroll="false">
        <div class="camera-temp-view">
        	<div ng-hide="sendForm.picture">
	        	<img class="camera-temp" src="./img/camera.png">
	        	<br><br>
		        <button class="button button-outline button-balanced icon-left ion-android-camera" ng-click="takePicture(1)">
		        	Take a Picture!
				</button>
				<br><br>
				<button class="button button-outline button-energized icon-left ion-android-image" ng-click="takePicture(0)">
		        	Choose One From Your Gallery
				</button>
			</div>
			<div ng-show="sendForm.picture">
				<img class="picture-display" src="{{sendForm.picture}}">
				<br><br>
				<div class="picButtons">
					<button title="Send Photo" class="button button-outline button-balanced" id="picBleft" ng-click="sendImage()">
						Send
					</button>
					<button title="Cancel" class="button button-outline button-assertive" id="picBright" ng-click="clearPicture()">
						Cancel
					</button>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
