<ion-view ng-controller="AppMenuCtrl">
    <!--<header class="bar bar-header bar-stable">
        <h1 class="title">Menu</h1>
    </header>-->
    <ion-content class="menu-header" has-bouncing="false">
        <ion-list>
            <button class="button button-full button-positive" ng-repeat="item in items" menu-close ng-click="goToState('{{item.name}}');">
                <i class="icon {{item.icon}}"></i>    {{item.name}}
            </button>
        </ion-list>
    </ion-content>
</ion-view>