<style>.popover { text-align: center; height: auto; width: 160px; }</style>

<ion-popover-view>
    <button ng-hide="meet.added_budi" class="button button-outline button-positive button-block button-pop" ng-click="popover.hide($event) ; addBudi()">
        <i class="icon ion-android-add-contact"> &nbsp Add Budi </i>    
    </button>
    <!--<button ng-show="meet.added_budi" class="button button-full button-positive" disabled="disabled">-->
    <button class="button button-outline button-assertive button-block button-pop" ng-click="popover.hide($event) ; reportBudi()">
        <i class="icon ion-alert"> &nbsp Report Budi </i>    
    </button>
    <button class="button button-outline button-positive button-block button-pop" ng-click="popover.hide($event) ; endMeet()">
        <i class="icon ion-log-out"> Leave Meeting </i>    
    </button>
</ion-popover-view>