<ion-view title="My Profile">
	<ion-nav-bar class="bar-positive" animation="no-animation">
        <ion-nav-buttons>
            <button title="Menu" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
	</ion-nav-bar>

	<ion-content >
		<ion-item class="item item-thumbnail-left">
			<img ng-src="{{ user.picture }}">
            <p></p>
            <h2> {{ user.first_name + ' ' + user.last_name }} </h2>
            <p></p>
            <p ng-show="user.location.name.length"> {{ user.location.name }} </p>
            <p ng-show="!user.location.name.length"> Unknown </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-social-facebook"></i>
			<p style="text-transform: capitalize"> &nbsp &nbsp &nbsp {{ user.gender }} </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-social-facebook"></i>
			<p > &nbsp &nbsp &nbsp {{ user.birthday }} </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-social-facebook"></i>
			<p > &nbsp &nbsp &nbsp {{ user.religion.substr(0, user.religion.length - 3) }} </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-social-facebook"></i>
			<p > &nbsp &nbsp &nbsp {{ user.political.substr(0, user.political.length - 3) }} </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-social-facebook"></i>
			<p style="text-transform: capitalize"> &nbsp &nbsp &nbsp {{ user.interested_in[0] }} </p>
		</ion-item>

		<ion-item href="" ng-click="openBrowser('{{ user.link }}')">
			<i class="icon ion-social-facebook"></i>
			<p > &nbsp &nbsp &nbsp {{ user.link }} </p>
		</ion-item>

		<ion-item>
			<i class="icon ion-social-twitter"></i>
			<p> &nbsp &nbsp &nbsp twitter.com/utilizador</p>
			<button title="ChangeTwitter" class="button button-clear button-positive button-small icon ion-gear-a">
				Alterar
			</button>
		</ion-item>

		<ion-item>
			<i class="icon ion-social-skype"></i>
			<p> &nbsp &nbsp &nbsp Utilizador util</p>
			<button title="ChangeSkype" class="button button-clear button-positive button-small icon ion-gear-a">
				Alterar
			</button>
		</ion-item>

	</ion-content>
</ion-view>