<ion-view title="My Profile">
	<ion-nav-bar class="bar-positive" animation="no-animation">
        <ion-nav-buttons>
            <button title="Menu" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
	</ion-nav-bar>

	<ion-content >
        
		<ion-item class="item item-thumbnail-left">
			<img ng-src="{{ user.picture }}">
            <p></p>
            <h2> {{ user.first_name + ' ' + user.last_name }} </h2>
            <p></p>
            <p ng-show="user.location.name.length"> {{ user.location.name }} 
            <button ng-hide="user.location.name.length" title="Edit Location" ng-click="setEdit('location'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            </p>
            <p ng-hide="user.location.name.length"> Unknown </p>
		</ion-item>
        
        <ion-item>
            <i ng-hide="user.gender.length" class="icon ion-person"> Gender </i>
			<i ng-show="user.gender === 'female'" class="icon ion-female"> Gender </i>
            <i ng-show="user.gender === 'male'" class="icon ion-male"> Gender </i>
            <button ng-hide="user.gender.length" title="Edit" ng-click="setEdit('gender'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.gender.length" style="text-transform: capitalize"> &nbsp&nbsp&nbsp {{ user.gender }} </p>
            <p ng-hide="user.gender.length"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>

        <ion-item>
			<i class="icon ion-calendar"> Age </i>
            <button ng-hide="user.birthday.length" title="Edit" ng-click="setEdit('Age'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.birthday.length"> &nbsp&nbsp&nbsp {{ age }} </p>
            <p ng-hide="user.birthday.length"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-android-book"> About Me </i>
            <button ng-hide="user.bio" title="Edit" ng-click="setEdit('About Me'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.bio"> &nbsp&nbsp&nbsp {{ user.bio }} </p>
            <p ng-hide="user.bio"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-eye ion"> Interested In </i>
            <button ng-hide="user.interested_in.length" title="Edit" ng-click="setEdit('interested In'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.interested_in.length == 1" style="text-transform: capitalize">
                &nbsp&nbsp&nbsp {{ user.interested_in[0] }} </p>
            <p ng-show="user.interested_in.length == 2" style="text-transform: capitalize"> 
                &nbsp&nbsp&nbsp {{ user.interested_in[0] + ' | ' + user.interested_in[1] }} </p>
            <p ng-hide="user.interested_in.length"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item>
			&nbsp<i class="icon ion-bookmark"> Religion</i>
            <button ng-hide="user.religion.length" title="Edit" ng-click="setEdit('religion'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.religion.length"> &nbsp&nbsp&nbsp {{ user.religion.substr(0, user.religion.length - 3) }} </p>
            <p ng-hide="user.religion.length"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item>
			<i class="icon ion-speakerphone"> Politics </i>
            <button ng-hide="user.political.length" title="Edit" ng-click="setEdit('politics'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.political.length"> &nbsp&nbsp&nbsp {{ user.political.substr(0, user.political.length - 3) }} </p>
            <p ng-hide="user.political.length"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
 
		<ion-item href="" ng-click="openBrowser('{{ user.link }}')">
			&nbsp<i class="icon ion-social-facebook"> Facebook </i>
            <p></p>
			<p > &nbsp&nbsp&nbsp {{ user.link }} </p>
		</ion-item>

		<ion-item href="" ng-click="openBrowser('{{ user.twitter }}')">
			<i class="icon ion-social-twitter"> Twitter </i>
            <button ng-hide="user.twitter" title="Edit" ng-click="setEdit('twitter'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.twitter"> &nbsp&nbsp&nbsp {{ user.twitter }} </p>
            <p ng-hide="user.twitter"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item href="" ng-click="openBrowser('{{ user.linkedIn }}')">
			<i class="icon ion-social-linkedin"> LinkedIn </i>
            <button ng-hide="user.linkedIn" title="Edit" ng-click="setEdit('linkedIn'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.linkedIn"> &nbsp&nbsp&nbsp {{ user.linkedIn }} </p>
            <p ng-hide="user.linkedIn"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item href="" ng-click="openBrowser('{{ user.link }}')">
			<i class="icon ion-social-instagram"> Instagram </i>
            <button ng-hide="user.instagram" title="Edit" ng-click="setEdit('instagram'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.instagram"> &nbsp&nbsp&nbsp {{ user.instagram }} </p>
            <p ng-hide="user.instagram"> &nbsp&nbsp&nbsp Unknown</p>
		</ion-item>
        
        <ion-item href="" ng-click="openBrowser('{{ user.link }}')">
			<i class="icon ion-social-reddit"> Reddit </i>
            <button ng-hide="user.reddit" title="Edit" ng-click="setEdit('reddit'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.reddit"> &nbsp&nbsp&nbsp {{ user.reddit }} </p>
            <p ng-hide="user.reddit"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>
        
        <ion-item href="" ng-click="openBrowser('{{ user.link }}')">
			<i class="icon ion-social-googleplus"> Google+ </i>
            <button ng-hide="user.googleplus" title="Edit" ng-click="setEdit('google+'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.googleplus"> &nbsp&nbsp&nbsp {{ user.googleplus }} </p>
            <p ng-hide="user.googleplus"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>

		<ion-item>
			<i class="icon ion-social-skype"> Skype </i>
            <button ng-hide="user.skype" title="Edit" ng-click="setEdit('skype'); modal.show();"
                    class="button button-clear button-positive button-small icon ion-edit">
            </button>
            <p></p>
			<p ng-show="user.skype"> &nbsp&nbsp&nbsp {{ user.skype }} </p>
            <p ng-hide="user.skype"> &nbsp&nbsp&nbsp Unknown </p>
		</ion-item>

	</ion-content>
</ion-view>